@import "../styles/variables.scss";

.container {
    width: $sidebarWidth;
    height: $sidebarHeight;
    display: flex;

    .sidebar {
        background: black;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
            color: white;
            font-size: 30px;
            margin-top: 3rem;
            cursor: pointer;
        }
    }
}