.container {
    position: relative;
    height: 100vh;
    width: 100%;

    .main {
        width: 96vw;
        height: 88vh;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 4vw;

        .temporary {
            align-self: flex-start;
        }

        .button {
            position: absolute;
            z-index: 11;
        }

        .invisible {
            display: none;
            visibility: hidden;
        }

        .blockPopUpContainer {
            width: 96vw;
            background: rgba(0, 0, 0, 0.5);
            height: 88vh;
            position: absolute;
            z-index: 9;
            display: flex;
            align-items: center;
            justify-content: center;

            .blockPopUp {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 70%;
                height: 80%;
                background: #56053B;

                h1 {
                    font: 700 3rem Mokoko;
                    color: white;
                    align-self: flex-start;
                    margin-top: 1rem;                    
                }
            }
        }
    }
}