.container {
    height: 88vh;
    display: flex;
    width: 4vw;
    position: absolute;
    top: 12vh;
    left: 0;
    z-index: 2000;

    .sidebar {
        background: #340E27;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
            color: white;
            font-size: 40px;
            margin-top: 3rem;
            cursor: pointer;
        }
    }

    .invisible {
        display: none;
        visibility: hidden;
    }

    .expanded {
        width: 30vw;
        background: #CEB0C4;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        z-index: 2000;
        margin-left: 4vw;

        h1 {
            color: #56053B;
            font-weight: 900;
            font-size: 2.5rem;
            margin-top: 2vh;
        }

        .layerType {
            align-self: flex-start;
            margin-left: 2vw;
            margin-top: 3vh;

            h3 {
                color: #56053B;
                font-weight: 900;
                font-size: 2rem;
                border-bottom: .5rem solid #56053B;
                border-radius: .25rem;
                margin-bottom: 1rem;

                span {
                    margin-right: 1vw;
                }
            }

            .inputs {
                margin-top: 1vh;
                display: flex;
                flex-direction: column;

                .inputAndLabel {
                    display: flex;
                    margin-bottom: 4vh;

                    input {
                        transform: scale(2.5)
                    }

                    label {
                        margin-left: 1vw;
                        color: #7C2960;
                        font-size: 1.25rem;
                        font-weight: 500;
                    }
                }
            }
        }

        .blocks {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin-top: 2vh;

            button {
                background: #56053B;
                color: white;
                border: none;
                border-radius: .5rem;
                padding: 1.25rem 2rem;
                width: 85%;
                margin-bottom: 2vh;
                font-size: 1.25rem;
                font-weight: 900;
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                text-align: left;
            }
        }

        .detailed {
            width: 100%;
            height: 10vh;
            background: rgba(0, 0, 0, 0.9);
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3000;
            width: 96vw;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .container {
                width: 55%;
                height: 70%;
                background: #56053B;
                display: flex;
                flex-direction: column;
                align-items: center;

                button {
                    align-self: flex-start;
                    background: none;
                    border: none;
                    color: white;
                    font-size: 2rem;
                    margin-left: 1rem;
                    margin-top: 1rem;
                    cursor: pointer;
                }

                h1 {
                    color: white;
                    font: 700 3.5rem Mokoko;
                    margin: 0;
                }
            }
        }

        .invisible {
            display: none;
            visibility: hidden;
        }

        .configs {
            align-self: flex-start;            
            margin-left: 2vw;
            margin-top: 3vh;

            h4 {
                color: #56053B;
                font-size: 1.75rem;
                font-weight: 900;
                margin-bottom: 3.5vh;
                cursor: pointer;

                span {
                    margin-right: 1vw;
                    cursor: pointer;
                }
            }

        }
    }
}